@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body {
    width: 100%;
    height: 100%;

    font-family: 'Roboto Condensed';
    font-weight: 400;
    letter-spacing: 0.05em;
}

main {
    text-align: center;
    padding: 8%;
    padding-left: 12%;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: 0.1em;
}

h2 {
    font-size: 2em;
}

hr {
    margin: 5%;
}

.aboutMe {
    height: 60%;
}

.column {
    width: 30%;
    float: left;
    padding: 0.5%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

.spacer {
    height: 150px;
}